/* StyleSheet for Monitor App */

/* Custom Colours */
.col-error {
  color: red;
}

.col-success {
  color:greenyellow;
}

.col-info {
  color: burlywood;
}


/* Transaction List */
.account-trans {
  max-height: 100px;
}


/* Transaction Links */
.trans-sent {
  color: lightsalmon;
  text-decoration: none;
}

.trans-sent:hover, .trans-sent:active {
  background-color: lightsalmon;
  color: black;
}

.trans-received {
  color: lightskyblue;
  text-decoration: none;
}

.trans-received:hover, .trans-received:active {
  background-color: lightskyblue;
  color: black;
}

.trans-error {
  color: red;
  text-decoration: none;
}

.trans-error:hover, .trans-error:active {
  background-color: red;
  color: black;
}

.trans-non-payment {
  color: violet;
  text-decoration: none;
}

.trans-non-payment:hover, .trans-info:active {
  background-color: violet;
  color: black;
}

/* Transaction Info Section */
#transInfo {
  visibility: hidden;
}
